body{
	margin:0px;
}
header div{
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
	align-items: center;
	padding:20px;
	margin:20px;
	border-radius:20px;

}


h1{
	display:flex;
	flex-wrap: wrap;
	min-width:fit-content;
	padding:10px;
}

h2{
	margin-block-start:0px;
	margin-block-end:0px;
	text-align: center;
}


.first-row{
   display:flex;
 
}

.partial-page-width{
	flex-grow:1;
	margin:0px 20px 20px 0px;
	border-radius:20px;
	padding:20px;
}
.page-width{
	margin:0px 20px 20px 20px;
	padding:20px;
	text-align:center;
	border-radius:20px;
}

div.projects{
	display:grid;
	max-width:100%;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

}

div.rep-links{
	display:grid;
	max-width:100%;
	grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
	padding:20px;
	
}

article.project{
	padding:20px;
	margin:20px;
	border-radius:20px;
}

article.project img{
    width:100%;
}



nav ul{
	display:inline-flex;
	flex-wrap: wrap;
	list-style-type:none;
	justify-content:space-around;
	padding:20px;
	border-radius:20px;
}

nav ul li{
	padding:0px 20px;
	min-width:fit-content;

}

a{
  min-width:fit-content;
  text-decoration: none;
}

img.profile{
	display: block;
	max-width:100%;
	max-height:100%;
	border-radius:20px;
	opacity: 0.9;
}

img.profile2{
	display:none;
}

.profile-image-box{
	margin:0px 20px 20px 20px;
}

img.linkedin{
	height:48px;
	width:48px;
	padding:10px;
}

img.github{
	height:48px;
	width:48px;
	padding:10px;
}

img.gmail{
	width:48px;
	height:36px;
	padding:16px 10px;
}

img.phone{
	height: 68px;
	width: 34px;
	padding: 0px 17px;
}

article.icons{
	padding:20px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	z-index: 2;
}


a.contact-link:hover{
	transform:scale(1.25) translate(23px);
}



a.contact-link:active{
	transform:scale(1);
}

a.contact-link{
     width:300px;
 }

.technology{
	padding:5px;
	margin:5px;
	border-radius:9px;
}
.technology:hover{
	transform: scale(1.25);
}


article.contact{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	position:relative;
	overflow:hidden;
}


.ohio{
 width:40px;
 height:40px;
}

.location{
	display:flex;
	align-content:flex-end;
	padding-top:20px;
	z-index:2;
}
h3.contact-info-2{
	padding:0px;
	margin:0px;
}
h3.contact-info{
	padding-left: 10px;
	margin:0px;
	width:300px;
}

.screenshot{
max-width: 100%;
border-radius:20px;
padding:20px;
}

.one:hover{
	transform: scale(2) translateX(25%);
}

.two:hover{
	transform: scale(2);
}

.three:hover{
	transform: scale(2) translateX(-25%);
}

.screenshot:active{
	transform: scale(1);
}

p{
border-radius:20px;
padding:20px;
}

.map{
  position:absolute;
  align-self: center;
  top:0;
  opacity:0.9;
}

.contact-link{
	display:flex;
}
.contact-link span{
	display:flex;
    align-items:center;
}

.hamburger{
	display:none;
}

.modal {
  display: none; 
	position: fixed; 
  z-index: 3; 
	overflow: auto; 
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.modal-content {
	display:flex;
	flex-direction:column;
	justify-content: center;
	border-radius:20px;
	padding: 20px; 
	margin:20px;
	max-width:960px;
	box-sizing:border-box;
}

.modal-content p{
	width:70%;
	align-self: center;
	box-sizing: border-box;
}

.close{
	align-self: flex-end;
}

.about-me{
	display:flex;
	flex-direction:column;
	align-content: center;
	justify-content: center;
}

#myBtn{
	border-radius:20px;
}

#myBtn:hover{
	transform:scale(1.25);
}
#myBtn:active{
	transform:scale(1);
}

.slideshow-image{
	border-radius:20px;
	width: 70%;
	height: auto;
	align-self: center;
}


.slideshow-container {
  max-width: 1000px;
	position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
	user-select: none;
	border-radius: 50%;
}

.next {
	right: 16%;
  
}

.prev{
	left: 16%;

}


.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
	width: fit-content;
	align-self: center;
	text-align: center;
	border-radius:20px;
}

.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
	top: 0;
	left: 15%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.description{
	display:flex;
	justify-content: center;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
	width: fit-content;
	height:fit-content;
	align-self:center;
	padding:0px;
  border: none;
  text-align: left;
	outline: none;
	border-radius:20px;
	font-size:1.5em;
	padding-left:7px;
	padding-right:7px;
	margin-left:5px;
}


.tech-list {
	margin:0px;
  display: none;
  overflow: hidden;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width:1006px){
	.contact-link{
		flex-direction:column;
	}
	.contact-link span{
		padding-left:10px;
	}
	.location{
		justify-content: center;
	}
}
@media only screen and (max-width: 999px) {
  
  .first-row{
  	display:flex;
  	flex-direction: column;
  	justify-content: center;
  }

  img.profile{
  	display:none;
  }

  img.profile2{
  	display: block;
	max-width:100%;
	max-height:100%;
	border-radius:20px;
	opacity: 0.9;
   }

  .profile-image-box{
  	display:flex;
  	justify-content: space-around;
  	align-items: center;
  	border-radius:20px;
  }

  article.contact{
  	display:flex;
	flex-direction:column;
	justify-content:space-between;
	position:relative;
	overflow:hidden;
    margin:0px 20px 20px 20px;
  }
  	
}



@media only screen and (max-width: 989px){
  header div{
  	justify-content: center;
  }

}

@media only screen and (max-width:846px){
		.two:hover{
		transform: scale(2) translateX(-25%);
	}
		.three:hover{
		transform: scale(2) translateX(25%);
	}
}

@media only screen and (max-width:596px){

	.topnav #myLinks{
		display:none;
	}

	.topnav a:icon{
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	nav ul li{
		text-align: center;
	}

	.hamburger{
		display:block;
	}

	.hamburger i{
		display:block;
		padding-right:10px;
		padding-left:10px;
		padding-top:5px;
		padding-bottom:5px;
		border-radius:10px;
	}
		.one:hover{
		transform: scale(1.5);
	}
		.two:hover{
		transform: scale(1.5);
	}
		.three:hover{
		transform: scale(1.5);
	}
}

@media only screen and (max-width:553px){
	img.profile{
		display: block;
		max-width:100%;
		max-height:100%;
		border-radius:20px;
		opacity: 0.9;
	}
	img.profile2{
		display:none;
	}
}

@media only screen and (max-width:502px){
  h1{
  	text-align:center;
  }
}


@media only screen and (max-width: 496px) {
   nav ul {
   	display:flex;
   	flex-wrap: nowrap;
   	justify-content: center;
   	flex-direction:column;
   	text-align: center;
   }
}