
body{
	margin:0px;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
}

body,
#container,
.page-width,
div.projects,
div.rep-links,
article.icons{
	display:grid;
}

header div,
h1,
.first-row,
article.contact,
article.project,
.description,
.about-me,
.contact-link,
.contact-link span,
.location,
.modal-content{
	display:flex;
}

#container,#background{
	grid-row:1/2;
	grid-column:1/2;
}

#container{
	z-index:10;
}

#background{
  z-index:5;
}

.front{
  z-index:7 !important;
}

.bubbles{
  z-index:11 !important;
}


header div{
	justify-content:space-between;
	flex-wrap: wrap;
	align-items: center;
	padding:20px;
	margin:20px;
	border-radius:20px;

}


h1{
	flex-wrap: wrap;
	min-width:fit-content;
	padding:10px;
	margin:0px;
}

h2{
	margin-block-start:0px;
	margin-block-end:0px;
	text-align: center;
}



.partial-page-width{
	flex-grow:1;
	margin:0px 20px 20px 0px;
	border-radius:20px;
	padding:20px;
}
.page-width{
	gap:20px;
	margin:0px 20px 20px 20px;
	padding:20px;
	text-align:center;
	border-radius:20px;
}

div.projects{
	max-width:100%;
	grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
	gap:20px;

}

div.rep-links{
	max-width:100%;
	grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
	gap:10px;
	
}

article.project{
	flex-direction: column;
	height:fit-content;
	padding:20px;
	border-radius:20px;
}

article.project img{
    width:100%;
}



nav ul{
	display:inline-flex;
	flex-wrap: wrap;
	list-style-type:none;
	justify-content:space-around;
	padding:20px;
	border-radius:20px;
}

nav ul li{
	padding:0px 20px;
	min-width:fit-content;

}

nav ul li a{
  min-width:fit-content;
  text-decoration: none;
}

img.profile{
	display: block;
	max-width:100%;
	max-height:100%;
	border-radius:20px;
	opacity: 0.9;
}

img.profile2{
	display:none;
}

.profile-image-box{
	margin:0px 20px 20px 20px;
}

img.linkedin,img.github{
	height:48px;
	width:48px;
	padding:10px;
	padding-left:0px;
}

img.gmail{
	width:48px;
	height:36px;
	padding:16px 10px;
	padding-left:0px;
}

img.phone{
	height: 68px;
	width: 34px;
	padding: 0px 17px;
	padding-left:7px;
}

article.icons{
	padding:20px;
	grid-template-rows:max-content 1fr 1fr 1fr 1fr;
	grid-template-columns: minmax(0.1fr,0.5fr) 1fr minmax(0.1fr,0.5fr);
	border-radius: 20px;
	z-index: 2;
}

a.contact-link{
	grid-column:2/3;
}


a.contact-link:hover{
	transform:scale(1.25) translate(23px);
}

a.contact-link:active{
	transform:scale(1);
}

.technology{
	padding:5px;
	border-radius:9px;
}
.technology:hover{
	transform: scale(1.25);
}

article.contact{
	flex-direction:column;
	justify-content: space-between;
	position:relative;
	overflow:hidden;
}

.ohio{
 width:40px;
 height:40px;
}

.location{
	justify-self:center;
	font-size:auto;
	align-content:flex-end;
	padding-top:20px;
	z-index:2;
}
h3.contact-info-2{
	padding:0px;
	margin:0px;
}
h3.contact-info{
	grid-column:2/3;
	padding-left: 0px;
	margin:0px;
}

.screenshot{
max-width:100%;
align-self: center;
border-radius:20px;
padding:20px;
}

p{
	border-radius:20px;
	padding:20px;
}

.map{
  position:absolute;
  align-self: center;
  top:0;
  opacity:0.9;
}

.contact-link span{
    align-items:center;
}

.hamburger{
	display:none;
}

.modal {
  display: none; 
	position: fixed; 
  z-index: 3; 
	overflow: auto; 
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.modal-content {
	flex-direction:column;
	justify-content: center;
	border-radius:20px;
	padding: 20px; 
	margin:20px;
	max-width:960px;
	box-sizing:border-box;
}

.modal-content p{
	width:70%;
	align-self: center;
	box-sizing: border-box;
}

.close{
	align-self: flex-end;
}

.about-me{
	flex-direction:column;
	align-content: center;
	justify-content: center;
}

#myBtn{
	justify-self:center;
	width:fit-content;
	border-radius:20px;
}

.slideshow-image{
	border-radius:20px;
	width:100%;
	height:auto;
	align-self: center;
}

.slideshow-container {
  max-width: 1000px;
	position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 8px 16px;
  border-radius: 0 3px 3px 0;
	user-select: none;
	border-radius: 50%;
}

.next {
	right: 16%;
  
}

.prev{
	left: 16%;

}

.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
	width: fit-content;
	align-self: center;
	text-align: center;
	border-radius:20px;
}

.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
	top: 0;
	left: 15%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
}

.description{
	justify-content: center;
}

.collapsible{
  cursor: pointer;
	width: fit-content;
	height:fit-content;
	align-self:center;
	padding:0px;
  border: none;
  text-align: left;
	outline: none;
	border-radius:20px;
	font-size:1.5em;
	padding-left:7px;
	padding-right:7px;
	margin-left:5px;
}

.tech-list {
	margin:0px;
  display: none;
  overflow: hidden;
}












