

body{
	margin:0px;
}
header div{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width:100%;
	align-items: center;
	padding:20px;
	margin:20px;
	border-radius:20px;

}

hr{
  display:flex;
  flex-wrap: wrap;
  flex-shrink: 5;
}
h1{
	display:flex;
	flex-wrap: wrap;
	min-width:fit-content;
	padding:10px;
	border-radius:20px;
}

h2{
	margin-block-start:0px;
	margin-block-end:0px;
	text-align: center;
}



.first-row{
   display:flex;
 
}

.partial-page-width{
	min-width:55.5%;
	max-width:100%;
	margin:0px 20px 20px 20px;
	border-radius:20px;
	padding:20px;
}
.page-width{
	margin:0px 20px 20px 20px;
	padding:20px;
	text-align:center;
	border-radius:20px;
}

div.projects{
	display:grid;
	max-width:100%;
	grid-template-columns: 1fr 1fr 1fr;

}

div.rep-links{
	display:grid;
	max-width:100%;
	grid-template-columns:1fr 1fr 1fr 1fr;
	padding:20px;
	
}

article.project{
	padding:20px;
	margin:20px;
	width:1fr;
	border-radius:20px;
}

article.project img{
    width:100%;
}


nav ul{
	display:inline-flex;
	flex-wrap: wrap;
	list-style-type:none;
	justify-content:space-around;
	padding:20px;
	border-radius:20px;
	width:1fr;
}

nav ul li{
	padding:0px 20px;
	min-width:fit-content;

}

a{
  min-width:fit-content;
}

img.profile{
	margin:0px 20px 20px 20px;
	max-width:100%;
	border-radius:20px;
	
}

img.linkedin{
	height:48px;
	width:48px;
	padding:10px;
}

img.github{
	height:48px;
	width:48px;
	padding:10px;
}
img.gmail{
	width:48px;
	height:36px;
	padding:16px 10px;
}

img.phone{
	height: 68px;
	width: 34px;
	padding: 0px 10px;
}

article.icons{
	padding:20px;
	display:flex;
	justify-content:space-around;
	align-content: center;
}


a img:hover{
	transform:scale(1.25);
}

a img:active{
	transform:scale(1);
}

.technology{
	padding:5px;
	margin:5px;
	border-radius:9px;
}


article.contact{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	max-width: 100%;
}

.ohio{
 width:40px;
 height:40px;
}

.location{
	display:flex;
	align-content:flex-end;
}
h3.contact-info{
	padding:0px;
	margin:0px;
}
a.screenshot{
background-color: var(--darkest-color);
}
p{
border-radius:20px;
}
