@media only screen and (max-width:1006px){
        .contact-link{
            flex-direction:column;
        }
        .contact-link span{
            padding-left:0px;
        }
        .location{
            justify-content: center;
        }
}
@media only screen and (max-width: 999px) {
  
        .first-row{
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

        img.profile{
            display:none;
        }

        img.profile2{
            display: block;
            max-width:100%;
            max-height:100%;
            border-radius:20px;
            opacity: 0.9;
        }

        .profile-image-box{
            display:flex;
            justify-content: space-around;
            align-items: center;
            border-radius:20px;
        }

        article.contact{
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            position:relative;
            overflow:hidden;
            margin:0px 20px 20px 20px;
        }
        .profile-image-box{
            box-shadow: 5px 5px var(--shadow-color);
        }

        img.profile{
            box-shadow:none;
        }
}	

@media only screen and (max-width: 989px){
        header div{
            justify-content: center;
        }
  
}
  

@media only screen and (max-width:596px){
  
      .hamburger:link{
          color:var(--lightest-color);
          background: transparent;
          font-size:2em;
      }
      .hamburger i:hover{
          color:var(--darkest-color);
          background-color: var(--lightest-color);
      }

        .topnav{
            height:fit-content;
        }

        #myLinks{
            display:flex;
            align-content: center;
            height:0px;
            margin:0px;
            padding:0px;
            overflow:hidden;
            transition:height 1s ease-in-out;
        }

        #myLinks li{
            height:fit-content;
        }

        #myLinks li a{
        height: fit-content;
        }

        .topnav a:icon{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }

        nav ul li{
            text-align: center;
        }

        .hamburger{
            display:block;
        }

        .hamburger i{
            display:block;
            padding-right:10px;
            padding-left:10px;
            padding-top:5px;
            padding-bottom:5px;
            border-radius:10px;
        }
            .one:hover{
            transform: scale(1.5);
        }
            .two:hover{
            transform: scale(1.5);
            
        }
            .three:hover{
            transform: scale(1.5);
            
        }
}

@media only screen and (max-width:553px){
        img.profile{
            display: block;
            max-width:100%;
            max-height:100%;
            border-radius:20px;
            opacity: 0.9;
        }
        img.profile2{
            display:none;
        }
}

@media only screen and (max-width:502px){
        h1{
            text-align:center;
        }
}
  
  
@media only screen and (max-width: 496px) {
     nav ul {
         display:flex;
         flex-wrap: nowrap;
         justify-content: center;
         flex-direction:column;
         text-align: center;
       }
       .contact-info{
           font-size:20px;
       }
       .contact-link{
           font-size:12px;
       }
       .description{
           font-size:12px;
       }
  
       #Technology{
           font-size:20px;
       }
       .technology{
           font-size:12px;
           
       }
       
  
       .ohio{
           width:20px;
           height:20px;
           align-self: flex-end;
       }
       .contact-info-2{
           font-size:20px;
           height:fit-content;
           align-self: flex-end;
       }
  
       div.rep-links{
          grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
       }
       
}