


*{
 font-family:sans-serif;
}

:root{
  --darkest-color:#2F2504;
  --darkest-color-semi-transparent:rgba(47,37,4,0.9);
  --lightest-color:#D0DDD7;
  --header-color:#2F2504;;
  --section-background-color-1:rgba(75,92,96,0.9);
  --shadow-color:rgba(165,174,158,0.9);
}

h1{
	color:var(--lightest-color);
	/*border:2px solid var(--lightest-color);*/
	}

body{
	background-color:#D0DDD7;
	background-image: radial-gradient(closest-side, transparent 98%, rgba(47,37,4,0.9) 99%),
	radial-gradient(closest-side, transparent 98%, rgba(47,37,4,0.9) 99%);
	background-size:80px 80px;
	background-position:0 0, 40px 40px;
	background-attachment: fixed;
}
a.technology:link, li a:link, a.contact-link:link{
    color:var(--lightest-color);
    text-decoration: none;
}
a.technology:visited, li a:visited, a.contact-link:visited{
	color:var(--shadow-color);
	text-decoration: none;
}
a.technology:hover, li a:hover, a.contact-link:hover{
	color:var(--shadow-color);
	text-decoration: none;
}
a.technology:active, li a:active, a.contact-link:active{
	color:var(--section-background-color-1);
	text-decoration: none;
}



nav ul{
	/*border:2px solid var(--lightest-color);*/
}


header div{
	background-color:var(--darkest-color-semi-transparent);
	box-shadow: 5px 5px  var(--shadow-color);
	color:var(--heading-color);
}

section.section-box-style, article.section-box-style{
	background-color:var(--section-background-color-1);
	color:var(--lightest-color);
	box-shadow: 5px 5px var(--shadow-color);
}
article.project{
	background-color:var(--darkest-color-semi-transparent);
	box-shadow: 5px 5px var(--shadow-color);
}
footer{
	background-color:var(--darkest-color-semi-transparent);
	color:var(--lightest-color);
	box-shadow: 5px 5px var(--shadow-color);
}

img.profile{
	box-shadow: 5px 5px var(--shadow-color);
}



.technology{
	background-color:var(--darkest-color-semi-transparent);
	box-shadow: 5px 5px var(--shadow-color);
}

p{
  background-color:var(--darkest-color-semi-transparent);
  box-shadow: 5px 5px var(--shadow-color);
}

.contact-info{
	color:var(--lightest-color);
	font-size:40px;
	font-family:sans-serif;
}


.contact-info-2{
	color:var(--darkest-color-semi-transparent);
	font-size:40px;
	font-family:sans-serif;

}
.tech-list-item{
	list-style-type: none;
	padding:5px;
}
.tech-list{
	padding:0px;
}

.icons{
	background-color:#4B5C60AD;
}


.screenshot{
	background-color: var(--section-background-color-1);
	box-shadow: 5px 5px var(--shadow-color);
}

@media only screen and (max-width: 999px) {

  .profile-image-box{
  	box-shadow: 5px 5px var(--shadow-color);
  }

  img.profile{
  	box-shadow:none;
  }


}